*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
    color: white;
}

html , body{
    height: 100%;
    width: 100%;
}



#main{
    height: 100%;
    width: 100%;
    background-color: black;
}


#nav{
    height: 80px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
}

#nav-part2{
    display: flex;
    text-align: center;
    
}

#nav-part2 >h3{
    margin: 25px 20px;
    text-transform: uppercase;
    
}

#nav-part3{
    display: flex;
    gap: 25px;
    text-transform: uppercase;
    align-items: center;
   
}

#nav button{
    background-color: white;
    padding: 12px 17px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    color: black;
    border: none;
}


img{
    height: 40px;
}

#main h1{
    font-size: 130px;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main h1 span{
    background-color: brown;
    font-size: 25px;
    padding: 20px 40px;
    border-radius: 50px;
    margin: 0px 30px;
}


#left-image{
    height: 200px;
     position: absolute;
     top: 14%;
     left: 4%;
     border-radius: 10%;
}


#down-image{
     
    height: 200px;
    width: 250px;
    position: absolute;
    top: 60%;
    left: 22%;
    border-radius: 10%;
}


#right-image{
    height:150px;
    width: 250px ;
    position: absolute;
    top: 10%;
    left: 62%;
    border-radius: 10%;
}

#down-right{
    height: 250px;
    position: absolute;
    top: 55%;
    left: 80%;
    border-radius: 10%;
}


h5{
    position: absolute;
    bottom : 10%;
    left:50%;
    font-size: 20px;
}